version: "3.9"

services:
  auth-backend:
    build:
      context: ./auth-backend
      dockerfile: Dockerfile
    container_name: auth-backend
    ports:
      - "9001:9001"
    environment:
      - PORT=9001
      - NODE_ENV=development
      - JWT_SECRET=your_jwt_secret
      - REDIS_HOST=redis.dev-sheba.xyz
      - REDIS_PORT=6379
    volumes:
      - ./auth-backend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start:dev"

  yolo-backend:
    build: ./backend
    container_name: yolo-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app
    environment:
      - PYTHONUNBUFFERED=1
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_AUTH_URL=${NEXT_PUBLIC_AUTH_URL}
      - NEXT_PUBLIC_YOLO_URL=${NEXT_PUBLIC_YOLO_URL}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - auth-backend
      - yolo-backend
    command: sh -c "npm install && npm run dev"

networks:
  default:
    driver: bridge
